# Flutter
.dart_tool/
build/
.pub-cache/
.pub/
.env

# Android
.gradle/
local.properties
*.apk
*.aab

# iOS
.bundle/
Pods/
*.xcworkspace

# Python/Django
__pycache__/
*.py[cod]
*$py.class
env/
venv/

media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
.DS_Store
